/*definindo objetos mais claros para o site

Objeto: 

- Agenda: Mostrar inicialmente um calendário simples.
          Posteriormente transformar este na funçao Agendar:
          Será necessario definir Como essa funça operará.

- Preço (Botao) que abre as opçoes deslizando para lateral direita
          * Conversor de Moeda Tempo real: 
          * Cliente vê um botao sem preço de sessao ainda
          Ao clicar, cliente vê duas opcões: ! botao Individual e botao casal! 
          * O cliente deve selecionar a moeda para qual haverá a conversao
          * Saída de Preço no system out indicando Preço e com acréscimo da seguinte informacao::

- Contatar o profissional: 
  System out no Hover: 
  Ao deslizar mouse por cima desta opcao, cliente recebe informacao: 
  "For Schedulle or Doubt. I answer on same day!"

- Footer com Links e favicon do Whatsapp e Instagram. Ou link flutuante para o wpp. 

- Fim da Primeira fase do Site
*/

/*Padronizando Containers*/



.container {
            width: 80%;
            max-width: 1200px;
            margin: 20px auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            box-sizing: border-box;
        }

/* Cor padrão dos itens da navbar */
.navbar .nav-link,
.navbar .navbar-toggler-icon,
.navbar .navbar-brand {
  color: #fff;
}

/* Cor da navbar após o scroll */
.navbar-scrolled {
  background-color: #cbbcb1;
}

/* Efeito de blur na navbar após o scroll */
.navbar-scrolled {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

/* Adicione mais estilos conforme necessário */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

}

label, input {
    display: flex;
    margin-bottom: 10px;

}


h1{
    font-size: 2.5em;
    color: #333; /* Cor do texto */
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #666; /* Cor do texto */
    text-align: center;
}



